<head>
  <title>MidLifeTechCrisis</title>
  <link href="/favicon.png" rel="icon">
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/css/main.css">
	<link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Lato">
  <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=DM Serif Display">
  <link rel="stylesheet" type="text/css" href="/fonts/fontawesome-free-5.15.3-web/css/fontawesome.css">
  <link rel="stylesheet" type="text/css" href="/fonts/fontawesome-free-5.15.3-web/css/brands.css">
  <link rel="stylesheet"
        href="/fonts/fontawesome-free-5.15.3-web/css/all.min.css">
 </head>
