<!DOCTYPE html>
<html lang="en" dir="ltr">
  {% include head.html %}
  <body>
    {% include header.html %}
  	<div class="full-hero">
  		<h1>Starting a new career in tech... at 40.</h1>
  		<p>Leaving a lucrative career to pursue a computer science degree and start over in software development.</p>
  		<ul class="social-list">
  			<li>
  				<a href="https://example.com" class="social-link">Fb</a>
  			</li>
  			<li>
  				<a href="https://example.com" class="social-link">Tw</a>
  			</li>
  			<li>
  				<a href="https://example.com" class="social-link">Gh</a>
  			</li>
  		</ul>
  	</div>
    {% include footer.html %}
  </body>
</html>
